.taper-right {
  height: 0px;
  border-style: solid;
  border-width: 50px 15px 0 0px;
  float: left;
}
 
.taper-left {
  height: 0px;
  border-style: solid;
  border-width: 50px 0px 0px 15px;
  float: left;
}
 
.taper-center {
  height: 50px;
  float: left;
  text-align: center;
  color: black;
  padding-top:20px;
}

.spacer {
  clear: both;
  height: 4px;
}

.trapezoid-box {
  top: -15px;
  display: inline-block;
  position: relative;
  width: 114px;
  height: 45px;
  text-align: center;
  border-radius: 14px;
  left: -13px;
  box-shadow: inset rgb(37 34 203) -3px 3px 7px 2px, rgb(18 86 186 / 50%) 0px 30px 60px -30px;
}

.horizontalRule {
  border: none;
  border-top: 2px dashed;
  position: relative;
  top: 7px;
  left: -10px;
  z-index: -1;
  width: 152px;
  display: inline-block;
}

.funnelTop-3::before {
  content: "";
  height: 30px;
  width: 255px;
  background-color: #005A61;
  position: absolute;
  top: -15px;
  border-radius: 50%;
}

.funnelTop-2::before {
  content: "";
  height: 30px;
  width: 225px;
  background-color: #005A61;
  position: absolute;
  top: -15px;
  border-radius: 50%;
}

.funnelTop-1::before {
  content: "";
  height: 30px;
  width: 195px;
  background-color: #005A61;
  position: absolute;
  top: -15px;
  border-radius: 50%;
}

.funnelTop-0::before {
  content: "";
  height: 30px;
  width: 165px;
  background-color: #005A61;
  position: absolute;
  top: -15px;
  border-radius: 50%;
}
.cont::after {
  content: "";
  height: 35px;
  width: inherit;
  background-color: inherit;
  position: absolute;
  top: 32px;
  border-radius: 50%;
  left: 15px;
  z-index: -1;
  margin-bottom: 10px;
}

