<form data-ng-submit="save()" class="noMargin" name="editWidgetForm" data-ng-class="{'state-wait': processing }"
    novalidate>
    <div class="modal-header">
        <h3 class="modal-title col-md-9">Edit Funnel Chart</h3>
        <button type="button" class="close" data-ng-click="cancel()" data-dismiss="modal" aria-label="Close"
            id="close-edit-widget-form-btn">
            <div aria-hidden="true" class="version-button">+</div>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <div class="form-group">
                <label for="hqTitle" class="control-label">Title<span class="text-danger">*</span></label>
                <input id="hqTitle" name="title" type="text" data-ng-model="config.title" class="form-control"
                    required />
                <div data-cs-messages="editWidgetForm.title"></div>
            </div>
            <div>
                <label for="funnelModuleType" class="control-label">Select Module Type</label>
                <select class="form-control" style="width:30%"
                    data-ng-options="key as value for (key, value) in funnelModuleType.type"
                    data-ng-model="config.funnelModuleType" data-ng-change="onChangeModuleType()" required>
                    <option value="">Select an Option</option>
                </select>
            </div>


            <div data-ng-if="config.funnelModuleType == 0" class="dashed-border-section">
                <div data-ng-if="config.funnelModuleType !== undefined">
                    <div class="row margin-left-0 margin-top-lg margin-bottom-lg" style="padding-left: 5px;"
                        data-ng-hide="processing || disabled">
                        <button data-ng-click="addLayer()" type="button" class="btn-btn btn-sm btn-primary">+ &nbsp;ADD
                            Layer</button>
                    </div>
                </div>

                <div id="funnelModuleType0" class="form-group" data-ng-if="modules" style="padding: 5px;">
                    <div data-ng-repeat="item in config.layers" style="position:relative;">
                        <h6>Layer {{$index +1}}</h6>
                        <label class="control-label">Title<span class="text-danger">*</span></label>
                        <input name="layer" type="text" data-ng-model="item.title" class="form-control" required />
                        <label class="control-label">Data Source <span class="text-danger">*</span>
                        </label>
                        <select class="form-control" data-ng-options="module.type as module.name for module in modules"
                            data-ng-model="item.value" data-ng-change="loadAttributes($index)" required>
                            <option value="">Select an Option</option>
                        </select>
                        <div class="margin-top-md margin-bottom-md" data-ng-if="item.fields !== undefined">
                            <label class="control-label">Filter Criteria <span class="text-danger">*</span>
                            </label>
                            <div data-cs-conditional data-ng-if="item.fieldsArray.length > 0" data-fields="item.fields"
                                data-reset-field="item.fields" data-mode="'queryFilters'" data-ng-model="item.query"
                                data-parent-form="editWidgetForm"
                                data-enable-expression="(page==='dashboard' || page==='reporting')"
                                data-show-uuid="true" data-form-name="'editWidgetForm'"></div>
                        </div>
                        <button type="button" data-ng-click="removeLayer($index)" id='fsr-module-{{ $index }}'
                            class="btn-sm btn btn-link btn-conditional-delete" style="position: absolute;"
                            data-ng-if="$index !== 0">
                            <span class="icon icon-close text-danger"></span>
                        </button>
                    </div>

                </div>
            </div>

            <div data-ng-if="config.funnelModuleType == 1">

                <div class="form-group" data-ng-if="modules">
                    <label class="control-label">Data Source<span class="text-danger">*</span>
                    </label>
                    <select class="form-control" data-ng-options="module.type as module.name for module in modules"
                        data-ng-model="config.customModule"
                        data-ng-change="loadAttributesForCustomModule(config.customModule)" required>
                        <option value="">Select an Option</option>
                    </select>
                </div>

                <div class="form-group" data-ng-if="config.customModule !== undefined">

                    <div class="form-group" data-ng-if="fieldsArray.length > 0">
                        <label class="control-label">Select field for data source<span class="text-danger">*</span>
                        </label>
                        <select class="form-control"
                            data-ng-options="field.name as field.title for field in fieldsArray"
                            data-ng-model="config.customModuleField" required>
                            <option value="">Select an Option</option>
                        </select>
                    </div>
                    <div class="margin-top-md margin-bottom-md" data-ng-if="config.customModuleField !== undefined">
                        <label class="control-label">Filter Record Which Contains The Data<span
                                class="text-danger">*</span>
                        </label>
                        <div data-cs-conditional data-ng-if="fieldsArray.length > 0" data-fields="$parent.fields"
                            data-reset-field="$parent.fields" data-mode="'queryFilters'"
                            data-ng-model="$parent.config.query" data-parent-form="editWidgetForm"
                            data-enable-expression="(page==='dashboard' || page==='reporting')" data-show-uuid="true"
                            data-form-name="'editWidgetForm'"></div>
                    </div>
                    <div class="mertics-widget-border padding-top-md padding-bottom-md"></div>

                    <div data-ng-if="config.customModuleField !==undefined" >
                        <div class="row margin-left-0 margin-top-lg margin-bottom-lg" style="padding-left: 5px;"
                            data-ng-hide="processing || disabled">
                            <button data-ng-click="addLayer()" type="button" class="btn-btn btn-sm btn-primary">+
                                &nbsp;ADD
                                Layer</button>
                        </div>
                        <div class="dashed-border-section">
                            <div class="form-group" data-ng-repeat="item in config.layers" style="padding: 5px;position:relative;">
                                <h6>Layer {{$index +1}}</h6>
                                <label class="control-label">Title<span class="text-danger">*</span></label>
                                <input name="layer" type="text" data-ng-model="item.title" class="form-control"
                                    required />

                                <label class="control-label">value<span class="text-danger">*</span></label>
                                <input name="layer" type="text" data-ng-model="item.value" class="form-control"
                                    required />

                                <div data-cs-messages="editWidgetForm.layer"></div>
                                <button type="button" data-ng-click="removeLayer($index)" id='fsr-module-{{ $index }}'
                                    class="btn-sm btn btn-link btn-conditional-delete" style=" position: absolute; top:15%"
                                    data-ng-if="$index !== 0">
                                    <span class="icon icon-close text-danger"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="edit-widget-save" type="submit" class="btn btn-sm btn-primary"><i
                    class="icon icon-check margin-right-sm"></i>Save</button>
            <button id="edit-widget-cancel" type="button" class="btn btn-sm btn-default" data-ng-click="cancel()"><i
                    class="icon icon-close margin-right-sm"></i>Close</button>
        </div>
    </div>
</form>